	<!-- Divider -->
	<div class="flex h-16 items-center justify-center border-y border-gray-200 bg-gray-100">
		<span class="font-mono text-xs tracking-widest text-gray-400 uppercase"
			>Resize browser to test mobile slider</span
		>
	</div>
